html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
.banner {
    width: 100%;
    background-color: #19398A;
    display: flex;              /* helps position image */
    justify-content: center;    /* center horizontally */
    align-items: flex-start;        /* center vertically */
    padding: 5px 0;            /* space top & bottom */
}
  
.banner-image {
    height: 30px;   /* control image size */
    width: auto;    /* keep aspect ratio */
    max-width: 100%;
}

.banner-text {
    width: 100%;
    background-color: #19398A;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px; 
    padding-top: 0;        
}

.banner-h3-text {
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.0;
}