html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
.banner {
    width: 100%;
    background-color: #19398A;
    display: flex;              /* helps position image */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
    padding: 20px 0;            /* space top & bottom */
}
  
.banner-image {
    height: 60px;   /* control image size */
    width: auto;    /* keep aspect ratio */
    max-width: 100%;
}