.matches {
    width: 100%;
    display: flex;              /* helps position image */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
    text-align: center;
    padding: 5px 0;            /* space top & bottom */
    flex-direction: column;    
}


.match-title-text {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.matchup-label {
    display: flex;
    width: 80%;
    margin: 0 auto;   
    background: linear-gradient(
        to right,
        var(--left-color) 0%,
        white 40%,
        white 60%,
        var(--right-color) 100%
    );
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
}


.logo {
    width: 60px;
    height: auto;
}


.team1-logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


.team2-logo {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}